{
    # https://medium.com/@a.marenkov/how-to-get-credentials-for-google-sheets-456b7e88c430
    # note you need to base64 encode the key you get (to work around issues with json in env files)
    "GCP_SERVICE_ACCOUNT_KEY_BASE64": "",
    "LOGGING_IMPLEMENTATION": "debug"
}